body {
    background-color: antiquewhite;
    color: aqua;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

 nav ul{
    display: flex;
    list-style-type: none;
    height: 89px;
    align-items: center;
    background-color: rgb(12, 12, 12);
 }

 nav ul li{
    padding: 0 12px;
 }

 .brand img{
    width: 45px;
    padding: 0 8px;

 }
 .brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
 }
 .container{
   min-height: 70vh;
   background-color: black;
   color: rgb(23, 24, 24);
   display: flex;
   width: 70%;
   margin: 23px auto;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg') ;
 }
 .bottom{
   position: sticky;
   height: 130px;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   
 }
 .icon{
   margin: 14px;

 }
 .icon img{
   cursor: pointer;
 }
 #myProgresbar{
   width:80vh ;
   text-align: center;
   cursor: pointer;
 }
 .songItemcontainer{
   margin-top: 75px;

 }
 
 .songItem{
   height: 50px;
   display: flex;
   /* width: 80%; */
   margin: 12px 0;
   background-color: wheat;
   justify-content: space-between;
   align-items: center;
   border-radius: 34px;
 }
 .songItem img{
   width: 43px;
   margin: 0 23px;
    
 }
 .timeStemp{
   margin: 0 20px;
}
.timeStemp img{

cursor: pointer;
}
.songInfo{
   position: absolute ;
   left: 10vw;
}
.songInfo img{
   opacity: 0;
   transition: opasity 1s ease-in;
    
}
.icon i .play {
   /* background-image: url('play.png'); */
   background-image: url('play.png');
}